<footer>
    <h2>&copy; Vapor Vault</h2>
    <nav>
        <ul>
            <li><a href="/albums/new">Add to the Collection</a></li>
            <li><a href="/reviews">Reviews</a></li>
        </ul>
    </nav>
</footer>
