<header>
    <h1>Vapor Vault</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Collection</a></li>
        </ul>
    </nav>
</header>
