<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <header id="home" class="header">
        <h1 class="planetfont">Vaporwave</h1><br>
        <h2 class="planetfont">Discover the Genre</h2>
        <section class="content">
            <p class="kungfont"> In the digital tapestry of sound and sight, vaporwave weaves its enigmatic allure. A haunting echo from decades past, it's a kaleidoscope of nostalgia, where smooth jazz and Muzak live again, distorted yet intimate, like a memory you can't quite touch.
                <br><br>
                A realm of neon and pixel, it stretches out in virtual landscapes, populated by classical marbles and abandoned malls. Here, the modern soul confronts the gilded cage of consumerism, yet finds beauty in its labyrinthine corridors—each looped beat a question, each glitch a revelation.
                It's complexity cloaked in simplicity, a sonic alchemy that transforms the mundane into the extraordinary. Each layered note is a shard of some lost emotion, capturing elusive moods that you knew once, long ago, but can't quite name now.
                <br><br>
                Vaporwave: the ghost in the machine of late capitalism, a mirror reflecting our collective yearning for something more—more real, more authentic, more human. It's a communal pilgrimage to a sanctuary built of pixels and soundwaves, a refuge for souls adrift in the digital expanse.
                <br><br>
                In its ether, boundaries blur—the old becomes new, the ironic turns sincere, the copied becomes original. Here, we confront the paradox of our times, even as we escape into a dream that is, paradoxically, both a critique and a homage to the era it recycles.
                <br><br>
                So we drift in its currents, caught between past and present, irony and earnestness, art and artifice. And in that drifting, we find a strange comfort, a fulfillment in the unfulfilled, a soundtrack to our eternal search for meaning in a world overflowing with content but starving for connection.
                <br><br>
                <strong>Vaporwave, then, is not just a genre; it's an experience</strong>—a journey through the surreal and the sublime, a touch of eternity in the transient, a sip of the infinite in the finite cup of now.</p>
                <br><br>
            <h3 class="kungfont">Immerse Yourself in the Experience.</h3>     
                <br><br>
            <a href="/albums" class="button">Enter the Vault</a></button>

        </section>

    </header>
    
</body>

</html>
