<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Vapor Vault'}) %>
</head>

<body>

    <!-- Header -->
    <header id="home" class="header">

        <h1>Vapor Vault</h1>
        <a href="/about" class="button">Enter</a>
    </header>


</body>

</html>