<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <h1>Vapor Vault</h1>
            <a href="/about" class="button">Enter</a>
        </div>
    </div>
</body>

</html>