<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <!-- Header -->
    <header id="home" class="header">

        <h1>Vapor Vault</h1>
        <a href="/about" class="button">Enter</a>
    </header>


</body>

</html>