<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
    <div class="content">
        <h1>Enter the password</h1>
        <form action="/login" method="post">
            <div class="InputContainer">
                <input placeholder="Password" id="password" class="input" name="password" type="password" required>
            </div>
        </form>
    </div>

    <footer class="footer">
        <a class="footerlink" href="/">Go Home</a>
    </footer>
</body>
</html>
