<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/private.css">
</head>

<body>
    <div class="container">
        <img src="/assets/images/kevin.PNG" alt="Lord Kevin">
    </div>

    <footer class="footer">
        <a class="footerlink" href="/">Go Home</a>
    </footer>
</body>

</html>