.container-fluid {
    background-image: url('/assets/images/backgrounds/mobile - genre.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    flex-direction: column;   
    height: 100vh;           
    text-align: center;
}

.content {
    padding: 10px 16px;
}

h1 {
    font-size: 30px;
    color: white;
    margin-top: 7vh;
}

h2 {
    font-size: 20px;
    color: white;
    transform: translate(0px, 20px);
}

p {
    font-size: 8px;
    color: white;
    margin-top: 3vh;
}

h3 {
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
}

.button {
    color: white;
    font-size: 20px;
}

@media screen and (min-width: 350px) and (max-width: 360px) {
    h1 {
        transform: translate(0px, 50px);
        margin-top: 8vh;

    }
    
    h2 {
        font-size: 18px;
        transform: translate(0px, 45px);

    }
    
    p {
        margin-top: 3vh;
        padding: 4px;
        transform: translate(0px, 10px);

    }
    h3 {
        font-size: 12px;
        transform: translate(0px, -4px);

    }
    .button {
        font-size: 18px;
        transform: translate(0px, -20px);
    }
}

@media screen and (min-width: 370px) and (max-width: 380px) {
    h1 {
        transform: translate(0px, 20px);

    }
    
    h2 {
        font-size: 18px;
    }
    
    p {
        margin-top: 1vh;
    }
    
    .button {
        font-size: 15px;
        transform: translate(0px, -10px);

    }
}

@media screen and (min-width: 400px) and (max-width: 415px) {
    h1 {
        font-size: 35px;
        transform: translate(0px, 5px);

    }
    
    h2 {
        font-size: 18px;
        transform: translate(0px, 25px);
    }
    
    p {
        font-size: 9px;
        margin-top: 3vh;
    }
    
    .button {
        font-size: 18px;
        transform: translate(0px, -10px);

    }
}

@media screen and (min-width: 750px) and (max-width: 770px) {
    .container-fluid {
        background-image: url('/assets/images/backgrounds/ipad-genre.png');
    }
    
    .content {
        padding: 10px 35px;
    }
    
    h1 {
        font-size: 50px;
        margin-top: 13vh;
    }
    
    h2 {
        font-size: 30px;
        transform: translate(0px, 50px);
    }
    
    p {
        font-size: 12px;
        margin-top: 6vh;
    }
    
    h3 {
        font-size: 18px;
        margin-bottom: 40px;
    }
    
    .button {
        font-size: 25px;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .container-fluid {
        background-image: url('/assets/images/backgrounds/ipad-genre.png');
    }
    
    .content {
        padding: 10px 35px;
    }
    
    h1 {
        font-size: 50px;
        margin-top: 4vh;
    }
    
    h2 {
        font-size: 30px;
        transform: translate(0px, 50px);
    }
    
    p {
        font-size: 12px;
        margin-top: 6vh;
    }
    
    h3 {
        font-size: 18px;
        margin-bottom: 50px;
    }
    
    .button {
        font-size: 25px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .container-fluid {
        background-image: url('/assets/images/backgrounds/ipad-genre.png');
    }
    
    .content {
        padding: 10px 35px;
    }
    
    h1 {
        font-size: 50px;
        margin-top: 12vh;
    }
    
    h2 {
        font-size: 30px;
        transform: translate(0px, 70px);
    }
    
    p {
        font-size: 15px;
        margin-top: 6vh;
    }
    
    h3 {
        font-size: 18px;
        margin-bottom: 50px;
    }
    
    .button {
        font-size: 25px;
    }
}

@media screen and (min-width: 1024px)  {
    .container-fluid {
        background-image: url('/assets/images/backgrounds/about.png');
    }

    .content {
        padding: 15px 60px;
    }

    h1 {
        font-size: 40px;
        transform: translate(0px, 70px);
    }

    h2 {
        font-size: 20px;
        transform: translate(0px, 90px);
    }

    p {
        font-size: 10px;
        margin-top: 8vh;
        transform: translate(0px, 30px);

    }

    h3 {
        font-size: 16px;
        transform: translate(0px, 10px);
    }

    .button {
        font-size: 20px;
        transform: translate(0px, -10px);
    }
}

@media screen and (min-width: 1280px)  {
    .container-fluid {
        background-image: url('/assets/images/backgrounds/about.png');
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 30px;
        transform: translate(0px, 100px);
    }

    p {
        font-size: 12px;
    }

    h3 {
        font-size: 18px;
    }

    .button {
        font-size: 25px;
    }
}

@media screen and (min-width: 1400px)  {
    h1 {
        font-size: 55px;
        transform: translate(0px, 40px);
    }

    h2 {
        font-size: 30px;
        transform: translate(0px, 90px);
    }

    p {
        font-size: 12px;
    }

    h3 {
        font-size: 18px;
        transform: translate(0px, 20px);
    }

    .button {
        font-size: 25px;
        transform: translate(0px, 20px);
    }
}

@media screen and (min-width: 1880px) {
    h1 {
        font-size: 60px;
        margin-top: 30px;
    }

    h2 {
        font-size: 30px;
        transform: translate(0px, 130px);
    }

    p {
        font-size: 14px;
        margin-top: 10vh;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 20px;
    }

    .button {
        font-size: 25px;
        transform: translate(0px, 30px);
    }
}