@font-face {
  font-family: 'Planet Kosmos'; 
  src: url('/assets/fonts/planet-kosmos.TTF');
}

@font-face {
  font-family: 'Krungthep'; 
  src: url(' /assets/fonts/Krungthep.ttf');
}

h1 {
    font-family: 'Planet Kosmos';
}

.button {
    font-family: 'Planet Kosmos';
}
  
.planetfont {
  font-family: 'Planet Kosmos';
}

.kungfont {
  font-family: 'Krungthep';
}

.button {
  text-decoration: none;
  color: inherit;
}

.button:hover {
  opacity: 0.5;
}

/* Navbar Styles */
.nav-link {
  font-family: 'Planet Kosmos';
  color: white !important;
  font-size: 30px !important;
}
.nav-link:hover {
  opacity: 0.5;
}

.transparentNav {
  background-color: transparent; 
}

.myNav {
  width: 100%;
  justify-content: space-between !important;
}

body {
  overflow-x: hidden;
}

@media screen and (min-width: 350px) {

}



@media screen and (min-width: 1024px) {
  .nav-link {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 1280px) {
  .nav-link {
    font-size: 40px !important;
  }
}

