body {
    background-image: url('/assets/images/backgrounds/ipad-details.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
