<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Add An Album | Vapor Vault'}) %>
    <link rel="stylesheet" href="/styles/album-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section>
        <h2 class="planetfont">Add An Album</h2>
    </section>
    
    <div class="content">
        <form method="POST" action="/albums">
            <div class="inputGroup">
                <!-- Artist input -->
                <div class="InputContainer">
                    <input placeholder="Artist Name..." id="artist" class="input" name="artist" type="text">
                </div>
                <!-- Album input -->
                <div class="InputContainer">
                    <input placeholder="Album..." id="album" class="input" name="album" type="text">
                </div>
                <!-- Release date input -->
                <div class="InputContainer">
                    <input placeholder="ReleaseDate" id="releaseDate" class="input" name="whereToListen" type="date">
                </div>
                <!-- Release date input -->
                <div class="InputContainer">
                    <input placeholder="Listen Here..." id="whereToListen" class="input" name="whereToListen" type="text">
                </div>
                <!-- Photo input -->
                <div class="InputContainer">
                    <input placeholder="Album Cover..." id="photo" class="input" name="photo" type="text">
                </div>
                <!-- Description input -->
                <div class="InputContainer">
                    <input placeholder="Description..." id="description" class="input description" name="description" type="text">
                </div>
            </div>
            <!-- Submit button -->
            <input class="Btn" type="submit" value="Submit">
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>
    
</body>

</html>